/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

.nav__toggle-btn,
.nav__links,
.shoppingCart-Btn .Counter,
.shoppingCart-Btn,
.shoppingCart-Btn a,
.logo, .logo a{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
}
.shoppingCart-Btn a,
.logo a{
    width: 100%;
    height: 100%;
}
nav{
    height: 6rem;
    width: 100vw;
    background: var(--mainBackground-color);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 80 !important;
}
.nav__container{
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
}
.logo{
    width: 7rem;
    position: relative;
    left: 1rem;
}
.logo a img{
    width: 90%;
    height: auto;
}
.nav__links a{
    padding: 0.68rem 1rem;
    font-family: Poppins_regular;
    background: transparent;
    border-radius: 0.68rem;
    color: #f0e8e8;
    margin: 10px 15px;
    -webkit-transition: var(--primary-transition);
    -o-transition: var(--primary-transition);
    transition: var(--primary-transition);
}
.nav__links a.SignIn{
    background: var(--secondBackground-color);
    color: var(--Ultralight-color);
}
.nav__links a:hover{
    background: var(--secondBackground-color);
    color: var(--Ultralight-color);
}
.shoppingCart-Btn{
    position: relative;
    right: 2rem;
    border: none;
    outline: none;
    background: transparent;
    width: 45px;
    height: 45px;
    line-height: 45px;
    border-radius: 50%;
}
.shoppingCart-Btn a:nth-child(1){
    color: var(--Ultralight-color);
    font-size: 1.6rem;
    font-weight: bold;
    text-shadow: 1px 1px 1px #000;
}
.shoppingCart-Btn .Counter{
    width: 25px;
    height: 25px;
    line-height: 25px;
    border: none;
    outline: none;
    border-radius: 50%;
    background: var(--Ultralight-color);
    font-size: 0.88rem;
    color: indigo;
    position: absolute;
    top: -5px;
    right: 0;
}
.nav__toggle-btn{
    display: none;
}


@media screen and (max-width: 1024px){
    .logo{
        position: absolute;
        left: 5rem;
    }
    .shoppingCart-Btn{
        position: absolute;
        right: 10rem;
    }
    .nav__toggle-btn{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        position: absolute;
        right: 5rem;
        border: none;
        outline: none;
        background: var(--secondBackground-color);
        width: 45px;
        height: 45px;
        line-height: 45px;
        border-radius: 0.68rem;
        cursor: pointer;
    }
    .nav__toggle-btn svg{
        color: var(--Ultralight-color);
        font-size: 1.2rem;
    }
    .nav__links{
        position: absolute;
        top: 100%;
        right: 0;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-perspective: 400px;
                perspective: 400px;
        width: 200px;
        z-index: 80 !important;
    }
    .nav__links li{
        width: 100%;
        height: 4rem;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        text-align: center;
        -webkit-box-shadow: -2rem 2rem 5rem rgba(0, 0, 0, 0.4);
                box-shadow: -2rem 2rem 5rem rgba(0, 0, 0, 0.4);
        -webkit-animation: navAnimation 600ms ease forwards;
                animation: navAnimation 600ms ease forwards;
        -webkit-transform: rotateX(90deg);
                transform: rotateX(90deg);
        opacity: 0;
        -webkit-transform-origin: top;
            -ms-transform-origin: top;
                transform-origin: top;
        background: var(--mainBackground-color);
    }
    .nav__links li:nth-child(2){
        -webkit-animation-delay: 200ms;
                animation-delay: 200ms;
    }
    .nav__links li:nth-child(3){
        -webkit-animation-delay: 400ms;
                animation-delay: 400ms;
    }
    .nav__links li:nth-child(4){
        -webkit-animation-delay: 600ms;
                animation-delay: 600ms;
    }
    .nav__links li:nth-child(5){
        -webkit-animation-delay: 800ms;
                animation-delay: 800ms;
    }
    .nav__links li:nth-child(6){
        -webkit-animation-delay: 1s;
                animation-delay: 1s;
    }
    .nav__links li:nth-child(7){
        -webkit-animation-delay: 1.2s;
                animation-delay: 1.2s;
    }
    @-webkit-keyframes navAnimation {
        to{
            -webkit-transform: rotateX(0);
                    transform: rotateX(0);
            opacity: 1;
        }
    }
    @keyframes navAnimation {
        to{
            -webkit-transform: rotateX(0);
                    transform: rotateX(0);
            opacity: 1;
        }
    }
    .show__nav{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }
    .hide__nav{
        display: none;
    }
}


@media screen and (max-width: 500px){
    .logo{
        position: absolute;
        left: 1rem;
    }
    .shoppingCart-Btn{
        position: absolute;
        right: 6rem;
    }
    .nav__toggle-btn{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        position: absolute;
        right: 2rem;
    }
}